<div class="entries-component">
  <div class="title">
    <h1>Time Entries</h1>
    <h3>Date: {{display}}</h3>
  </div>

  <div class="add-entry">
    <div *ngIf="!isChecked">
      <button (click)="showFormToggle()">Add Entry</button>
    </div>

    <div *ngIf="isChecked" class="form">
      <form [formGroup]="entryForm">
        <div *ngIf="editing">
          <h3>Edit Entry</h3>
        </div>
        <div *ngIf="!editing">
          <h3>New Entry</h3>
        </div>
        <!--<label for="user-id">User ID: </label>
        <input id="user-id" type="number" formControlName="user_id"> <br>-->
        <label for="project-id">Project ID: </label>
        <input id="project-id" type="number" formControlName="project_id"> <br>
        <label for="entry-date">Entry Date: </label>
        <input id="entry-date" type="date" formControlName="entry_date"> <br>
        <label for="notes">Notes: </label>
        <input id="notes" type="text" formControlName="notes"> <br>
        <label for="hours">Hours: </label>
        <input id="hours" type="number" formControlName="hours"> <br>
        <label for="billable">Billable: </label>
        <input id="billable" type="checkbox" formControlName="billable">
      </form>
      <div *ngIf="editing">
        <button type="submit" [disabled]="!entryForm.valid" (click)="editEntry()">Submit</button>
      </div>
      <div *ngIf="!editing">
        <button type="submit" [disabled]="!entryForm.valid" (click)="onSubmit()">Submit</button>
      </div>

      <button id="cancel" (click)="showFormToggle()">Cancel</button>
    </div>
  </div>

  <div id="entries" *ngIf="entries">
    <table id="entry" *ngFor="let entry of entries; let i = index" [attr.data-index]=""i>
      <tr>
        <td>Project:</td>
        <td>{{entry[1]}}</td>
      </tr>
      <tr>
        <td>Hours:</td>
        <td>{{entry[0].hours}}</td>
      </tr>
      <tr>
        <td>Notes:</td>
        <td>{{entry[0].notes}}</td>
      </tr>
      <tr>
        <td><button id="edit" (click)="edit(entry[0])">Edit Entry</button></td>
        <td><button id="delete" (click)="delete(entry[0].id)">Delete Entry</button></td>
      </tr>
    </table>
  </div>

  <ng-template #loading>Loading...</ng-template>

</div>
