<div class="entries-component">
  <div class="title">
    <h1>Time Entries</h1>
    <!--<h3>Date: {{display}}</h3>-->
    <form [formGroup]="dateForm" (ngSubmit)="setDate()">
      <label for="display-date">Date: </label>
      <input id="display-date" type="date" formControlName="display_date">
      <button type="submit" class="submit">Change Date</button>
    </form>
  </div>

  <div class="add-entry">
    <div *ngIf="!isChecked">
      <button class="add" (click)="showFormToggle()">Add Entry</button>
    </div>

    <div *ngIf="isChecked" class="form">
      <form [formGroup]="entryForm">
        <div *ngIf="editing">
          <h3>Edit Entry</h3>
        </div>
        <div *ngIf="!editing">
          <h3>New Entry</h3>
        </div>
        <select formControlName="pName">
          <option value="">Select Project</option>
          <option *ngFor="let project of projects" [ngValue]="project">
            {{ project }}
          </option>
        </select> <br>
        <label for="entry-date">Entry Date: </label>
        <input id="entry-date" type="date" formControlName="entry_date"> <br>
        <label for="notes">Notes: </label>
        <input id="notes" type="text" formControlName="notes"> <br>
        <label for="hours">Hours: </label>
        <input id="hours" type="number" formControlName="hours"> <br>
      </form>
      <div *ngIf="editing">
        <button type="submit" [disabled]="!entryForm.valid" (click)="editEntry()">Submit</button>
      </div>
      <div *ngIf="!editing">
        <button type="submit" [disabled]="!entryForm.valid" (click)="onSubmit()">Submit</button>
      </div>

      <button id="cancel" (click)="showFormToggle()">Cancel</button>
    </div>
  </div>

  <div id="entries" *ngIf="entries">
    <table id="entry" *ngFor="let entry of entries; let i = index" [attr.data-index]=""i>
      <tr>
        <td>Project:</td>
        <td>{{entry[1]}}</td>
      </tr>
      <tr>
        <td>Hours:</td>
        <td>{{entry[0].hours}}</td>
      </tr>
      <tr>
        <td>Notes:</td>
        <td>{{entry[0].notes}}</td>
      </tr>
      <tr>
        <td><button class="edit" (click)="edit(entry[0], entry[1])">Edit Entry</button></td>
        <td><button class="delete" (click)="delete(entry[0].id)">Delete Entry</button></td>
      </tr>
    </table>
  </div>
  <ng-template #loading>Loading...</ng-template>

</div>
