#entry{
  border: 2px solid black;
  margin: 10px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
#entries{
  text-align: center;
}
td{
  padding: 10px;
}
.title{
  text-align: center;
}
