<div class="title">
  <h1>Projects</h1>
</div>
<div class="active-projects" *ngIf="projects$ | async as projects; else loading">
  <h3>Active Projects</h3>
  <table class="project" *ngFor="let project of projects">
    <tr>
      <td>Name:</td>
      <td>{{project.name}}</td>
    </tr>
    <tr>
      <td>Start Date:</td>
      <td>{{project.start_date}}</td>
    </tr>
    <tr>
      <td>End Date:</td>
      <td>{{project.end_date}}</td>
    </tr>
    <tr>
      <td><button id="disable" (click)="disable(project)">Retire Project</button></td>
      <td><button id="edit" >Edit Project</button></td>
    </tr>
  </table>
</div>

<div class="add-project">
  <div *ngIf="!isChecked">
    <button (click)="showFormToggle()">Add Project</button>
  </div>

  <div *ngIf="isChecked">
    <form [formGroup]="projectForm">
      <h3>New Project</h3>
      <label for="name">Project Name: </label>
      <input id="name" type="text" formControlName="name"> <br>
      <label for="start-date">Start Date: </label>
      <input id="start-date" type="date" formControlName="start_date"> <br>
      <label for="end-date">End Date: </label>
      <input id="end-date" type="date" formControlName="end_date"> <br>
      <label for="billable">Billable: </label>
      <input id="billable" type="checkbox" formControlName="billable">
    </form>
    <button type="sumbit" [disabled]="!projectForm.valid" (click)="onSubmit()">Submit</button>
    <button id="cancel" (click)="showFormToggle()">Cancel</button>
  </div>
</div>



<ng-template #loading>Loading...</ng-template>
