h1{
  text-align: center;
  width: 100%;
  background-color: red;
  color: white;
  padding: 20px;
  margin-bottom: 40px;
  height: 100px;
}
.formControl{
  height: 40px;
}
.btnPrimary{
  margin-top: 20px;
  margin-bottom: 10px;
}
.googleBtn{
  margin-top: 10px;
  margin-bottom: 20px;
}
.displayTable{
  text-align: center;
}
.btn{
  border-style: solid;
  border-color: black;
}
