<div class="title">
  <h1>Users</h1>
</div>

<div class="add-user">
  <div *ngIf="!isChecked">
    <button (click)="showFormToggle()">Add User</button>
  </div>

  <div *ngIf="isChecked">
    <form [formGroup]="userForm">
      <h3>New User</h3>
      <label for="first-name">First Name: </label>
      <input id="first-name" type="text" formControlName="first_name"> <br>
      <label for="last-name">Last Name: </label>
      <input id="last-name" type="text" formControlName="last_name"> <br>
      <label for="email">Email: </label>
      <input id="email" type="text" formControlName="email">
    </form>
    <button type="submit" [disabled]="!userForm.valid" (click)="onSubmit()">Submit</button>
    <button id="cancel" (click)="showFormToggle()">Cancel</button>
  </div>
</div>


<ul *ngIf="users$ | async as users; else loading">
  <li *ngFor="let user of users">
    Name: {{ user.first_name }}  {{ user.last_name }} <br> Email: {{user.email}}
  </li>
</ul>
<ng-template #loading>Loading...</ng-template>
