<div class="title">
  <h1>Users</h1>
</div>

<div class="add-user" *ngIf="authService.isAdmin">
  <!--<div *ngIf="!isChecked">
    <button class="add" (click)="showFormToggle()">Add User</button>
  </div>-->

  <div *ngIf="isChecked" class="form">
    <form [formGroup]="userForm">
      <div *ngIf="editing">
        <h3>Edit User</h3>
      </div>
      <div *ngIf="!editing">
        <h3>New User</h3>
      </div>
      <label for="first-name">First Name: </label>
      <input id="first-name" type="text" formControlName="first_name"> <br>
      <label for="last-name">Last Name: </label>
      <input id="last-name" type="text" formControlName="last_name"> <br>
      <!--<label for="email">Email: </label>
      <input id="email" type="text" formControlName="email"> <br>-->
      <!--<label for="sec_group">Admin</label>
      <input id="sec_group" type="checkbox" formControlName="sec_group"> <br>-->
    </form>
    <div *ngIf="editing">
      <button type="submit" [disabled]="!userForm.valid" (click)="editUser()">Submit</button>
      <button class="cancel" (click)="stopEdit()">Cancel</button>
    </div>
    <div *ngIf="!editing">
      <button type="submit" [disabled]="!userForm.valid" (click)="onSubmit()">Submit</button>
      <button class="cancel" (click)="showFormToggle()">Cancel</button>
    </div>
  </div>
</div>

<div class="active-users" *ngIf="activeData">
  <h3>Active Users</h3>
  <table class="user" *ngFor="let user of activeData; let i = index" [attr.data-index]="i">
    <tr>
      <td>Name:</td>
      <td>{{user[0].first_name}} {{user[0].last_name}}</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>{{user[0].email}}</td>
    </tr>
    <tr *ngIf="authService.isAdmin">
      <td>Security Group:</td>
      <td>{{user[0].sec_group}}</td>
    </tr>
    <tr>
      <td *ngIf="authService.isAdmin && !p_num.includes(i)" colspan="3">
        <button class="display" (click)="displayProject(i)">Display Project(s)</button>
      </td>
      <td *ngIf="authService.isAdmin && p_num.includes(i)" colspan="3">
        <button class="hide" (click)="hideProject(i)">Hide Project(s)</button>
      </td>
    </tr>
    <tr *ngFor="let project of user[1]">
      <td *ngIf="authService.isAdmin && p_num.includes(i)">{{project[1]}}</td>
      <td *ngIf="authService.isAdmin && p_num.includes(i)">Hourly Rate: ${{project[0].hourly_rate}}, Billed: ${{project[2]}}</td>
      <td *ngIf="authService.isAdmin && p_num.includes(i)"><button (click)="endAssignment(project[0])">End</button></td>
      <td *ngIf="authService.isAdmin && p_num.includes(i)"><button>Edit</button></td>
    </tr>

    <td *ngIf="authService.isAdmin && !f_num.includes(i)" colspan="3">
      <button class="display" (click)="displayFinished(i)">Show Finished</button>
    </td>
    <td *ngIf="authService.isAdmin && f_num.includes(i)" colspan="3">
      <button class="hide" (click)="hideFinished(i)">Hide Finished</button>
    </td>
    <tr *ngFor="let project of user[2]">
      <td *ngIf="authService.isAdmin && f_num.includes(i)">{{project[1]}}</td>
      <td *ngIf="authService.isAdmin && f_num.includes(i)">Hourly Rate: ${{project[0].hourly_rate}}, Billed: ${{project[2]}}</td>
      <td *ngIf="authService.isAdmin && f_num.includes(i)"><button (click)="restartAssignment(project[0])">Restart</button></td>
      <td *ngIf="authService.isAdmin && f_num.includes(i)"><button>Edit</button></td>
    </tr>

    <tr *ngIf="authService.isAdmin">
      <td><button class="edit" (click)="edit(user[0])">Edit User</button></td>
      <td><button class="disable" (click)="disable(user[0])">Disable User</button></td>
      <td *ngIf="user[0].sec_group == 'admin'"><button class="remove-admin" (click)="removeAdmin(user[0])">Revoke Admin</button></td>
      <td *ngIf="user[0].sec_group != 'admin'"><button class="make-admin" (click)="makeAdmin(user[0])">Make Admin</button></td>
    </tr>
    <tr>
      <td *ngIf="authService.isAdmin && !a_num.includes(i)" colspan="3"><button class="display" (click)="displayAssign(i)">Assign to Project</button></td>
      <td *ngIf="authService.isAdmin && a_num.includes(i)" colspan="3">
        <form [formGroup]="assignForm" (ngSubmit)="assignProject(user[0].id)">
          <select formControlName="projectName">
            <option value="">Projects</option>
            <option *ngFor="let project of userProjects[i]" [ngValue]="project">
              {{ project }}
            </option>
          </select> <br>
          <label for="hourly-rate">Hourly Rate: </label>
          <input id="hourly-rate" type="number" formControlName="hourlyRate">
          <button type="submit" class="submit">Assign</button>
          <button class="hide" (click)="hideAssign(i)">Cancel</button>
        </form>
      </td>
    </tr>
  </table>
</div>
<div *ngIf="authService.isAdmin">
  <div class="inactive-users" *ngIf="inactiveUsers$ | async as users; else loading">
    <h3>Inactive Users</h3>
    <table class="user" *ngFor="let user of users">
      <tr>
        <td>Name:</td>
        <td>{{user.first_name}} {{user.last_name}}</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>{{user.email}}</td>
      </tr>
      <tr>
        <td>Security Group:</td>
        <td>{{user.sec_group}}</td>
      </tr>
      <tr>
        <!--<td><button class="edit" (click)="edit(user)">Edit User</button></td>-->
        <td colspan="2"><button class="enable" (click)="enable(user)">Enable User</button></td>
      </tr>
    </table>
  </div>
</div>




<ng-template #loading>Loading...</ng-template>
