.title{
  text-align: center;
}
.add-user{
  text-align: center;
}
.display-users{
  text-align: left;
}
.user{
  border: 2px solid black;
    margin: 10px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
td{
  padding: 10px;
}
