<div class="dashboard" *ngIf="authService.userData as user">
  <h1>User Profile</h1>
  <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
       alt="{{user.displayName}}">
  <div class="media-body">
      <h2>Hello: <strong>{{(name) ? name : "User"}}</strong></h2>
      <p>Email: <strong>{{user.email}}</strong></p>
      <p>Admin: <strong>{{authService.isAdmin}}</strong></p>
  </div>
</div>
<ng-template #loading>Loading...</ng-template>
